.homepage-content {
  max-width: 100%;
	margin: 40px auto 20px;
  padding: 0 40px;
}

.homepage-content .sidepanel-content {
  max-height: 200px;
}
.homepage-content .main-content {
  padding-left: 80px;
}

